.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  max-width: none;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  overflow-y: auto;
  border-radius: var(--radius-small);
}

.modalOuter {
  display: flex;
  background: white;
  color: black;
  width: 70%;
  height: 90%;
  max-height: 80%;
  border-radius: var(--radius-small);
  position: relative;
}

.closeButton,
.zoomedImageCloseButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: var(--font-size-xxlarge);
  background: transparent;
  border: none;
  cursor: pointer;
}

.zoomedImageCloseButton {
  color: white;
}

.modal .stack {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-small);
  margin: 0;
}

.modal .stack span {
  border: 1px solid var(--color-secondary);
  padding: 0 var(--space-small);
  background-color: rgb(245, 245, 245);
  border-radius: 9999px;
  font-size: var(--font-size-xsmall);
  transition: all 0.2s ease-in-out;
}

.modal .stack span:hover {
  background-color: var(--color-secondary-hover);
}

.modal h3 {
  text-align: left;
  font-size: var(--font-size-xxlarge);
  margin: var(--space-xlarge) 0 var(--space-normal) 0;
}

.modal h2 {
  text-align: left;
  font-size: var(--font-size-xxxlarge);
  margin: 0 0 var(--space-normal) 0;
}

.modal p {
  color: black;
  font-size: var(--font-size-normal);
  margin: 0;
}

.modal ul {
  list-style-type: circle;
  margin: 0;
  padding-left: 1.25rem;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-normal);
}

.imageGallery img {
  width: 48%;
  object-fit: cover;
  border-radius: var(--radius-small);
  cursor: zoom-in;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 0 1px var(--color-text-secondary);
}

.imageGallery img:hover {
  transform: scale(1.01);
}