@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

.heroSection h1 {
    font-size: var(--font-size-about);
}

.heroImage {
    width: clamp(150px, 25vw, 250px);
    height: clamp(150px, 25vw, 250px);
    object-fit: cover;
    border-radius: 50%;

    animation: float 3s ease-in-out infinite;

    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.2),
        -3px -3px 12px var(--color-primary),
        3px 3px 12px var(--color-tertiary);
}

.heroContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--space-xxlarge) * 2);
    padding: 0 var(--space-xxlarge);
    text-align: left;
}

.heroMessage {
    font-size: var(--font-size-xxlarge);
    text-align: left;
    font-weight: bold;
}

.heroContent {
    max-width: 50%;
}

p {
    font-size: var(--font-size-large);
    color: var(--color-text-secondary);
}

@media (max-width: 600px) {
    .heroContent {
        max-width: 100%;
    }
}