.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-xxlarge);
}

.card {
  text-decoration: none;
  width: 300px;
  aspect-ratio: 6/8;
  color: inherit;
  border-radius: var(--radius-small);

  box-shadow: 0 6px 14px var(--color-primary);
  transition: all 0.1s ease-in-out;

  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  cursor: pointer;
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}

.card:hover {
  box-shadow: 0 0 6px var(--color-secondary);
}

.card:hover img {
  border-bottom: 3px solid var(--color-secondary);
}

.card img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: var(--radius-small) var(--radius-small) 0 0;
  border-bottom: 3px solid var(--color-primary);
}

.card *:not(img) {
  padding: 0 1rem;
}

.card h2 {
  font-size: var(--font-size-medium);
}

.card p {
  margin: 0;
  font-size: var(--font-size-small);
}

.card .stack {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-small);
  margin: var(--space-large) 0 var(--space-normal) 0;
}

.card .stack span {
  box-shadow: 0 1px 2px black;
  padding: var(--space-xsmall) var(--space-small);
  background-color: rgb(245, 245, 245);
  border-radius: 9999px;
  font-size: var(--font-size-small);
  transition: all 0.1s ease-in-out;
}

.card .stack span:hover {
  background-color: var(--color-secondary);
  box-shadow: 0 3px 6px var(--color-primary);
  color: var(--color-text-primary);
  transform: scale(1.1);
}